<!doctype html>
<html>

<head>
    <title>Handlebars demo</title>
</head>
<link href="./style.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">

<body>

    <img class="logo" src="logo.png" id="draggable-element" width="300px" >


    <div class="container text-center">


        <h3>Is het al wiekent?</h3>

        {{{body}}}
    </div>
</body>
    <script src="/socket.io/socket.io.js"></script>
    <script>

        var selected = null, // Object of the element to be moved
            x_pos = 0, y_pos = 0, // Stores x & y coordinates of the mouse pointer
            x_elem = 0, y_elem = 0; // Stores top, left values (edge) of the element

        // Will be called when user starts dragging an element
        function _drag_init(elem) {
            // Store the object of the element which needs to be moved
            selected = elem;
            x_elem = x_pos - selected.offsetLeft;
            y_elem = y_pos - selected.offsetTop;
        }

        // Will be called when user dragging an element
        function _move_elem(e) {
            x_pos = document.all ? window.event.clientX : e.pageX;
            y_pos = document.all ? window.event.clientY : e.pageY;
            if (selected !== null) {
                var newX = (x_pos - x_elem);
                var newY = (y_pos - y_elem);
                selected.style.left = newX + 'px';
                selected.style.top = newY + 'px';         
                socket.emit('drag', { pageX: newX, pageY: newY})
            }
        }

        // Destroy the object when we are done
        function _destroy() {
            selected = null;
        }

        // Bind the functions...
        document.getElementById('draggable-element').onmousedown = function () {
            _drag_init(this);
            return false;
        };

        document.onmousemove = _move_elem;
        document.onmouseup = _destroy;

        var socket = io();
        socket.on('drag-update', (e) => {
            var el = document.getElementById('draggable-element');
            el.style.left = (e.pageX - x_elem) + 'px';
            el.style.top = (e.pageY - y_elem) + 'px';    
        });



    </script>
</html>