
    <div class="rowtext-center padding-md">

    
        {{#if user}}
            <p>TODO: implementeren of het weekend is</p>

        {{else}}
            <p>Je moet <a href="/login">Inloggen</a> voordat ik je ga vertellen of het weekend is!</p>
        {{/if}}

    </div>
