body{
    background-color:#eee;
    color:#2e2e2e;
    background-color: #eee
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



.logo{
    transition: transform 2s cubic-bezier(.55,-0.71,.44,1.09);
    position: relative;
}

.logo:hover{
    /* transform: rotate(720deg); */
}

p {
	color:#CCC;
}

.spacing {
	padding-top:7px;
	padding-bottom:7px;
}
.middlePage {
	width: 680px;
    height: 500px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}